.popup__error {
  margin: 0  0 40px 0;
    padding: 0;
    color: red;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    }
    
  .popup__error_visible {
    visibility: visible;
  }

  .popup__error:last-of-type {
    margin: 0  0 31.34px 0;
  }