.elements__button-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/trashButton.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}