.elements {
    max-width: 880px;
}

@media screen and (max-width: 950px) {
    .elements {
        max-width: 581px;
    } 
}

@media screen and (max-width: 636px) {
    .elements {
        max-width: 282px;
        width: calc((100% - 19px * 2));
    } 
}


