.profile__edit-button {
    background-image: url('../../../images/Vector.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 636px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}